In [43]:
import matplotlib.pyplot as plt

In [69]:
import numpy as np
import seaborn as sns

In [70]:
plt.figure(figsize=(15,15))
sns.heatmap(df.corr(), cmap="coolwarm", annot=True)
plt.show()

In [1]:
import sklearn

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/root/Downloads/Hackathon/data.csv')

In [4]:
df.head()

,Lamp_Id,Timestamp,ActivePower,ApparentPower,Current_R,Current_Y,Current_B,R_Phase_kW,Y_Phase_kW,B_Phase_kW,Target
0,1,2019-05-01 23:44:42,5.11,5.15,10.66,5.47,5.85,2.48,1.27,1.36,0
1,2,2019-05-01 23:29:04,5.11,5.14,10.65,5.48,5.83,2.48,1.27,1.35,0
2,3,2019-05-01 23:13:58,5.11,5.14,10.74,5.52,5.89,2.48,1.27,1.35,0
3,4,2019-05-01 22:57:49,5.12,5.16,10.73,5.53,5.90,2.48,1.27,1.36,0
4,5,2019-05-01 22:42:12,5.17,5.22,10.79,5.55,5.92,2.51,1.29,1.37,0

In [23]:
new_df = df[['Lamp_Id','ActivePower','ApparentPower','Current_R','Current_Y','Current_B','R_Phase_kW','Y_Phase_kW','B_Phase_kW',]]

In [8]:
new_df.head()

,Lamp_Id,ActivePower,ApparentPower,Current_R,Current_Y,Current_B,R_Phase_kW,Y_Phase_kW,B_Phase_kW
0,1,5.11,5.15,10.66,5.47,5.85,2.48,1.27,1.36
1,2,5.11,5.14,10.65,5.48,5.83,2.48,1.27,1.35
2,3,5.11,5.14,10.74,5.52,5.89,2.48,1.27,1.35
3,4,5.12,5.16,10.73,5.53,5.90,2.48,1.27,1.36
4,5,5.17,5.22,10.79,5.55,5.92,2.51,1.29,1.37

In [9]:
label = df[['Target']]

In [10]:
label.head()

   Target
0       0
1       0
2       0
3       0
4       0

In [11]:
from sklearn.cross_validation import train_test_split

In [13]:
train_feat,test_feat,train_lb,test_lb = train_test_split(new_df,label,test_size=0.2)

In [14]:
from sklearn import tree

In [15]:
clf = tree.DecisionTreeClassifier()

In [17]:
trained = clf.fit(train_feat,train_lb)

In [18]:
pred = trained.predict(test_feat)

In [19]:
print(pred)

[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1
 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0
 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1
 0 1 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 0 0
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0]

In [31]:
test_label = test_lb.iloc[:,0]

In [32]:
test_label.values

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0])

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
acc = accuracy_score(test_lb,pred)

In [36]:
acc * 100

100.0

In [37]:
test_lb

      Target
591        0
653        0
1226       0
1163       1
965        0
538        0
1097       0
875        0
1101       0
999        0
137        0
750        0
775        0
310        0
387        0
321        0
611        1
217        0
589        0
862        0
576        0
439        0
1432       0
265        0
675        0
569        0
858        0
693        0
726        0
1023       1
...      ...
168        1
356        0
1320       0
1054       0
1195       0
599        0
1019       0
2          0
108        0
129        0
615        0
757        0
737        0
1325       0
332        0
492        0
1011       0
651        0
1111       0
892        0
300        0
526        0
272        0
661        1
138        0
24         1
1244       0
342        0
519        0
636        0

[287 rows x 1 columns]

In [46]:
x = []
y = []
for i,row in test_lb.iterrows():
    lamp_number = i % 40
    x.append(lamp_number)
    y.append(row.values)
    print(lamp_number,row.values)

31 [0]
13 [0]
26 [0]
3 [1]
5 [0]
18 [0]
17 [0]
35 [0]
21 [0]
39 [0]
17 [0]
30 [0]
15 [0]
30 [0]
27 [0]
1 [0]
11 [1]
17 [0]
29 [0]
22 [0]
16 [0]
39 [0]
32 [0]
25 [0]
35 [0]
9 [0]
18 [0]
13 [0]
6 [0]
23 [1]
3 [0]
0 [0]
6 [0]
39 [0]
31 [0]
1 [0]
4 [1]
11 [0]
32 [0]
19 [1]
3 [0]
21 [1]
39 [0]
26 [0]
15 [0]
28 [0]
0 [0]
31 [0]
23 [0]
18 [0]
31 [0]
27 [0]
2 [0]
27 [0]
23 [0]
14 [0]
34 [0]
39 [1]
26 [0]
33 [0]
28 [0]
2 [0]
15 [0]
24 [0]
18 [0]
20 [0]
18 [0]
33 [0]
34 [0]
37 [0]
12 [0]
18 [1]
9 [0]
28 [0]
8 [0]
28 [0]
36 [0]
0 [1]
21 [0]
7 [0]
34 [0]
17 [0]
27 [0]
3 [0]
2 [0]
22 [0]
6 [0]
8 [0]
4 [0]
1 [0]
8 [0]
2 [0]
5 [0]
30 [0]
35 [0]
23 [0]
16 [0]
12 [0]
6 [0]
14 [0]
30 [0]
5 [0]
22 [0]
30 [0]
29 [1]
16 [0]
12 [0]
7 [0]
34 [0]
4 [1]
33 [0]
20 [0]
17 [1]
19 [0]
33 [1]
29 [0]
15 [0]
20 [1]
1 [0]
17 [0]
7 [0]
31 [0]
26 [0]
3 [0]
35 [0]
35 [1]
23 [0]
33 [0]
18 [0]
37 [0]
20 [1]
22 [0]
37 [0]
36 [0]
2 [0]
27 [1]
39 [0]
26 [0]
1 [1]
12 [1]
10 [0]
21 [0]
12 [0]
38 [0]
16 [0]
14 [0]
19 [0]
36 [0]
31 [1]
32 [0]
13 [1]
0 [0]
19 [0]
16 [0]
5 [0]
12 [1]
7 [0]
6 [0]
34 [1]
25 [0]
26 [0]
1 [0]
21 [0]
9 [1]
7 [0]
24 [0]
28 [0]
25 [0]
24 [0]
20 [0]
37 [0]
19 [0]
26 [0]
26 [0]
32 [0]
1 [0]
0 [0]
31 [0]
22 [0]
2 [1]
2 [0]
21 [0]
26 [1]
14 [0]
7 [1]
4 [0]
24 [1]
4 [1]
16 [0]
1 [0]
3 [1]
39 [0]
34 [0]
19 [0]
11 [0]
25 [0]
5 [0]
38 [0]
14 [1]
35 [0]
36 [0]
15 [0]
27 [0]
7 [0]
25 [0]
31 [0]
15 [1]
1 [0]
16 [0]
8 [0]
19 [0]
14 [1]
11 [0]
16 [0]
15 [0]
29 [0]
16 [1]
3 [0]
33 [1]
37 [1]
1 [0]
30 [0]
37 [0]
27 [1]
9 [0]
1 [0]
34 [0]
38 [0]
12 [0]
15 [0]
26 [0]
25 [0]
4 [0]
9 [1]
20 [0]
10 [0]
32 [0]
1 [1]
37 [0]
12 [1]
9 [0]
5 [0]
26 [0]
13 [0]
9 [0]
26 [0]
33 [0]
32 [0]
23 [0]
25 [0]
26 [0]
4 [0]
5 [0]
6 [0]
5 [0]
7 [1]
21 [0]
8 [1]
36 [0]
0 [0]
14 [0]
35 [0]
39 [0]
19 [0]
2 [0]
28 [0]
9 [0]
15 [0]
37 [0]
17 [0]
5 [0]
12 [0]
12 [0]
11 [0]
11 [0]
31 [0]
12 [0]
20 [0]
6 [0]
32 [0]
21 [1]
18 [0]
24 [1]
4 [0]
22 [0]
39 [0]
36 [0]

In [47]:
print(x)

[31, 13, 26, 3, 5, 18, 17, 35, 21, 39, 17, 30, 15, 30, 27, 1, 11, 17, 29, 22, 16, 39, 32, 25, 35, 9, 18, 13, 6, 23, 3, 0, 6, 39, 31, 1, 4, 11, 32, 19, 3, 21, 39, 26, 15, 28, 0, 31, 23, 18, 31, 27, 2, 27, 23, 14, 34, 39, 26, 33, 28, 2, 15, 24, 18, 20, 18, 33, 34, 37, 12, 18, 9, 28, 8, 28, 36, 0, 21, 7, 34, 17, 27, 3, 2, 22, 6, 8, 4, 1, 8, 2, 5, 30, 35, 23, 16, 12, 6, 14, 30, 5, 22, 30, 29, 16, 12, 7, 34, 4, 33, 20, 17, 19, 33, 29, 15, 20, 1, 17, 7, 31, 26, 3, 35, 35, 23, 33, 18, 37, 20, 22, 37, 36, 2, 27, 39, 26, 1, 12, 10, 21, 12, 38, 16, 14, 19, 36, 31, 32, 13, 0, 19, 16, 5, 12, 7, 6, 34, 25, 26, 1, 21, 9, 7, 24, 28, 25, 24, 20, 37, 19, 26, 26, 32, 1, 0, 31, 22, 2, 2, 21, 26, 14, 7, 4, 24, 4, 16, 1, 3, 39, 34, 19, 11, 25, 5, 38, 14, 35, 36, 15, 27, 7, 25, 31, 15, 1, 16, 8, 19, 14, 11, 16, 15, 29, 16, 3, 33, 37, 1, 30, 37, 27, 9, 1, 34, 38, 12, 15, 26, 25, 4, 9, 20, 10, 32, 1, 37, 12, 9, 5, 26, 13, 9, 26, 33, 32, 23, 25, 26, 4, 5, 6, 5, 7, 21, 8, 36, 0, 14, 35, 39, 19, 2, 28, 9, 15, 37, 17, 5, 12, 12, 11, 11, 31, 12, 20, 6, 32, 21, 18, 24, 4, 22, 39, 36]

In [52]:
plt.xlabel('Lamp Id')
plt.ylabel('Faulty or Not')
plt.scatter(x,y)
plt.legend()
plt.show()

/root/anaconda3/lib/python3.5/site-packages/matplotlib/axes/_axes.py:519: UserWarning: No labelled objects found. Use label='...' kwarg on individual plots.
  warnings.warn("No labelled objects found. "

In [56]:
import numpy as np
import seaborn as sns

In [57]:
plt.figure(figsize=(15,15))
sns.heatmap(df.corr(), cmap="coolwarm", annot=True)

In [66]:
 ax = sns.heatmap(df.corr(), cmap="coolwarm", annot=True)

In [68]:
ax.figure
plt.show()